
/* Task list */
li{
  list-style-type: none;
}
.card{
  background-color: rgb(226, 244, 248);
  padding: 18px 30px;
  font-size: 16px;
  margin: 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card>p{
  padding: 10px;
}

.del{
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: rgb(184, 59, 59);
}

.comp{
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color:#4caf50;
}


/* Add task page */